<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- صلاحيات الوصول للإنترنت فقط -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/carserviceslogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/carserviceslogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarMaintenanceGarageApp"
        tools:targetApi="31">

        <!-- تعريف FileProvider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- باقي الأنشطة -->
        <activity
            android:name=".AddAdmin"
            android:exported="false" />
        <activity
            android:name=".MoreOptions"
            android:exported="false" />
        <activity
            android:name=".AddService"
            android:exported="false" />
        <activity
            android:name=".CaptionedImagesAdapter"
            android:exported="false" />
        <activity
            android:name=".AddNewCarManufacturer"
            android:exported="false" />
        <activity
            android:name=".PayByPayPal"
            android:exported="false" />
        <activity
            android:name=".PayByVisa"
            android:exported="false" />
        <activity
            android:name=".NotificationAdapter"
            android:exported="false" />
        <activity
            android:name=".Notfication"
            android:exported="false" />
        <activity
            android:name=".EditRequest"
            android:exported="true" />
        <activity
            android:name=".AddRequestAdmin"
            android:exported="true" />
        <activity
            android:name=".payment"
            android:exported="false" />
        <activity
            android:name=".AddRequest"
            android:exported="true" />
        <activity
            android:name=".AddCarAdmin"
            android:exported="true" />
        <activity
            android:name=".AddCar"
            android:exported="true" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".StatisticsActivity"
            android:exported="false" />
        <activity
            android:name=".LogInActivity"
            android:exported="false" />
        <activity
            android:name=".About"
            android:exported="false" />
        <activity
            android:name=".Contact"
            android:exported="false" />
        <activity
            android:name=".WelcomePageActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
